body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;

}

main {
    flex: 2;
}
main{
    width: 70%;
    margin: auto;
    align-items: center;
    text-align: center;
    padding-top: 5%;
}


section {
    max-width: 800px;
    margin: 50px auto;
}


.trip-card.upcoming,  .trip-card.old,  .trip-card.today {
    border: 2px solid #ff445a0e;
    // background-color: #ff445a0e;
    padding: 15px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1rem;
  }
  .trip-card h2{
font-size: 20px;
  }


  
  .trip-card img {
    width: 250px;
    height: 300px;
    margin-right: 4px;
    padding: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  }
  
  #today-container {
    display: block;
  }
  
  #upcoming-container,
  #old-container {
    display: none;
 

  }
  
  .navbar {
    display: flex;
    padding: 10px;
  }
  
  .nav-item {
    color: white;
    padding: 10px;
    text-decoration: none;
  }
  .delete{
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    padding:  9px 8px;
    background-color: #ff445b;
    border: none;
    border-radius: 4px;
  }
.delete:hover{
  background-color: #ff445aab;

}

