body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    // background-color: #f6eee3;
    background-size: cover;
    background-position: center;
    margin: 0;

}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}


  .trip-card.old {
    border: 2px solid red;
  }
  .trip-card img {
    width: 100px;
    height: auto;
  }
  /* Add this to your CSS file */
.trip-card.upcoming {
    border: 2px solid green;
    background-color: #e0ffe0;
  }
  
  .trip-card.old {
    border: 2px solid red;
    background-color: #ffe0e0;
  }
  
  .trip-card.today {
    border: 2px solid blue;
    background-color: #e0e0ff;
  }
  
  .trip-card img {
    width: 100px;
    height: auto;
  }
  
  /* Initially hide all containers except the default one (today) */
  #today-container {
    display: block;
  }
  
  #upcoming-container,
  #old-container {
    display: none;
  }
  
  /* Navigation styles */
  .navbar {
    display: flex;
    background-color: #333;
    padding: 10px;
  }
  
  .nav-item {
    color: white;
    padding: 10px;
    text-decoration: none;
  }
  
  .nav-item:hover {
    background-color: #575757;
  }
  