header {
    display: flex;
    padding: 10px 40px;
     align-items: center;
     justify-content: center;
  
}
#logo{
    width: 45%;
    height: 100%;
    cursor: pointer;
    
}
.logo{
    width: 45%;
    margin-left: 20%;
}